<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">


	<!-- <bean id="helloWorld" class="com.createiq.spring.HelloWorldBean"> </bean> 
		<bean id="welcome" class="com.createiq.spring.WelcomeBean"> </bean> -->

	<bean id="address" class="com.createiq.spring.Address">
		<property name="aid" value="1"></property>
		<property name="aloc" value="SKLM"></property>
	</bean>


	<!-- <bean id="employee" class="com.createiq.spring.Employee"> <property 
		name="eid" value="1001"></property> <property name="ename" value="Balaji 
		G"></property> <property name="address" ref="address"></property> </bean> -->


	<bean id="employee" class="com.createiq.spring.Employee">
		<constructor-arg value="1001"></constructor-arg>
		<constructor-arg value="Balaji G"></constructor-arg>
		<constructor-arg ref="address"></constructor-arg>
	</bean>
</beans>